.header-button {
    display: flex;
    justify-content: space-between;
    width: 6.2rem;
    color: inherit;
    background: rgba(163, 157, 157, 0.2);
    border: none;
    margin: 0.5rem 10rem 0.5rem 0;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    
    .header-icon {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
    }

    .header-badge {
        align-self: center;
        background-color: #d9dadf;
        vertical-align: bottom;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
    }
}